$primary-color: #0070f3;
$background-dark: #000000;
$foreground-dark: #ffffff;
$foreground-light: #0a0a0a;
$background-light: #ededed;
$font-family: Arial, Helvetica, sans-serif;
$iconColor: #0070f3;
$iconColorHover: #0070f3;